
@import 'antd/dist/antd.less';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700;900&display=swap');

body {
  margin: 0;
  /* font-family: "Poppins", sans-serif !important; */
}


.logout {
  cursor: pointer;
}

@media (min-width: 640px) {
  .w-fixed {
      flex: 0 1 230px;
      min-width: 230px;
  }
}


.site-calendar-demo-card {
  width: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}

// .ant-modal-footer {
//   display: none;
//   overflow: hidden;
// }

.PhoneInput {
  --PhoneInput-color--focus: #f97316;
  --PhoneInputCountryFlag-borderColor: #f97316;
	--PhoneInputCountryFlag-borderColor--focus: var(--PhoneInput-color--focus);
}
.PhoneInputInput input[type="tel"] {
border: 0;
}

.PhoneInput--focus input[type="tel"]  {
border: 0;
}
