
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .filter-component-button {
        @apply px-4 py-2 border rounded-sm cursor-pointer hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out
    }
}


@layer utilities {
  /* Chrome, Safari, Edge, Opera */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

      /* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
  }



